html,body{ margin:0; padding:0; height:100%; width:100%; }

.container {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@keyframes pulse {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.container > .circle {
  border-radius: 50%;
  
  width: 150px;
  height: 150px;
  opacity: 0;
  position: absolute;
  animation: pulse 4s infinite cubic-bezier(.36, .11, .89, .32);
}


.container > .item {
  padding: 5px;
  z-index: 100;
}

.container > .item > img {
  width: 75px
}


.container > .delay-0s {
  animation-delay: 0s;
  background: red;
}

.container > .delay-1s {
  animation-delay: 1s;
  background: deepskyblue;
}

.container > .delay-2s {
  animation-delay: 2s;
  background: yellow;
}


.container > .delay-3s {
  animation-delay: 3s;
  background: green;
}




